# Telegram Bot
BOT_TOKEN=your_telegram_bot_token_here

# База данных (для Docker)
POSTGRES_DB=task_manager_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# FastAPI + Alembic
DB_NAME=task_manager_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432

# Redis
REDIS_URL=redis://redis:6379/0